/ControlWork1/
/ControlWork2/
/ControlWork3/
/howework31/
/lab 1/
/lab 2/
/lab 3/
/lab4/
/lab5/
/lab7/
/lab8/
/laba6/
/lesson 1/
/lesson 2/
/lesson 3/
/lesson 4/
/lesson 5/
/lesson 6/
/lesson6/
/lesson7/
/lesson8/
/lesson9/
/lesson10/
/lesson11/
/lesson12/
/lesson13/
/lesson14/
/lesson32/
